[submodule "RedmineAPI"]
	path = RedmineAPI
	url = https://github.com/nathanbowness/RedmineAPI.git
[submodule "pyaccessories"]
	path = pyaccessories
	url = https://github.com/devonpmack/pyaccessories.git
